*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
  animation: fade 2s ease;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  scrollbar-color: inherit;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background: #f0f0f0;
  min-height: 100vh;
}

hr {
  opacity: 1;
}

.hov:hover {
  background-color: #e0e0e0;
}

.nav-link {
  margin: 6px;
  white-space: nowrap;
}

.nav-pills .nav-link {
  border-radius: 1rem;
  color: gray;
  box-shadow: 3px 3px 6px #cccccc, -3px -3px 6px #ffffff,inset 3px 3px 6px #cccccc, inset -3px -3px 6px #ffffff;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: inherit;
  color: black;
  box-shadow: 3px 3px 6px #cccccc, -3px -3px 6px #ffffff;
}

.list-group-item {
  background: inherit;
  border: none;
}

@keyframes fade {
  0%{    
    opacity: 0;
  }
  45%{
    opacity: 0;
  }
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0.6s;
}

.nav {  
  flex-wrap: nowrap;
}