
body {
  background: #d6d6d6;
}

.con {
  border-radius: 0.25rem;
  background: #d6d6d6;
  box-shadow:  3px 3px 10px #b6b6b6,-3px -3px 10px #f6f6f6;

}

hr {
  opacity: 1 !important;
}

.hov:hover {
  margin: auto;
  color: white;
  background-color: gray;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  margin: 6px;
}

.nav-pills .nav-link {
  border-radius: 0.25rem;
  background: #d6d6d6;
  color: dimgray;
  box-shadow:  3px 3px 10px #b6b6b6,-3px -3px 10px #f6f6f6;

}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  border-radius: 0.25rem;
  background: #d6d6d6;
  color: black;
}

.list-group-item {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0) !important;
}
